@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,400&display=swap');
body{
    font-family: poppins;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 1px 50px;
    margin: -10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-left: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar img{
   margin-left: 29.6rem;
}
.form-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: rgb(231, 231, 231); */
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    
}

form {
    display: flex;
    flex-direction: column;
}

form h1 {
    /* color: #333; */
    color: white;
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: aliceblue;
}

form p {
    text-align: center;
}

a {
    color: #009dff; /* Highlight color for links */
}

footer {
    text-align: center;
    padding: 5px 26px;
    margin: -20px -20px;
    margin-top: 68px;
    background-color: #ccc;
}
 
